
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ralewayregular, Arial, sans-serif;
}

.main-width {
    width: 1060px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #000;
}

.header_box {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

.logo span {
    color: #63CCB8;
    font-weight: 700;
}

nav {
    width: 50%;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    width: 20%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: end;
    /*margin-left: 40px;*/
    position: relative;
}
/*sprawdzić padding menu-item*/

.menu-underlist {
    list-style: none;
    background-color: #000;
    text-align: start;
    padding: 15px;
    display: block;
    position: absolute;
    top: 40px;
    left: 25%;
    text-transform: none;
}
/*sprawdzić padding menu-underlist*/


.menu-underlist:before {
    content: "\25b2";
    color: #000;
    font-size: 26px;
    display: block;
    position: absolute;
    top: -20px;
    left: calc(50% - 13px);
}

.banner {
    background-image: linear-gradient(180deg, #fff, #D1D0D8);
    width: 100%;
}

.box-banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    width: 40%;
    height: 100%;
    background-image: url("../images/black_chair.png");
    background-size: 145%;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: block;

}

.description {
    width: 50%;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

h1 span {
    color: #63CCB8;
    font-weight: 900;
}

.description p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px;
    line-height: 20px;
}

.button {
    width:264px;
    height: 52px;
    background-color: #63CCB8;
    border-radius: 10px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.box-banner:before {
    content: "\003C";
    width: auto;
    height: auto;
    font-size: 75px;
    color: #63CCB8;
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
}

.box-banner:after {
    content: "\003E";
    width: auto;
    height: auto;
    font-size: 75px;
    color: #63CCB8;
    display: block;
    position: absolute;
    top: 200px;
    right: 0;
}

.small_boxes {
    height: 350px;
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.small_boxOne {
    width: 31%;
    height: 100%;
    background-image: url("../images/box1_img.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    position: relative;
}

.small_boxTwo {
    width: 32%;
    height: 100%;
    background-image: url("../images/box2_img.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    position: relative;
}

.small_boxThree {
    width: 32%;
    height: 250px;
    border: 1px solid #D1D0D8;
    padding: 30px;
}

.title_background {
    width: 100%;
    height: 65px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 140px;
    display: flex;
    align-items: center;
}

.title {
    border-bottom: 5px solid #63CCB8;
    width: 40%;
    margin-left: 20px;
    font-size: 15px;
    font-weight: 800;
}

.title span {
    text-transform: uppercase;
}

.small_boxThree p {
    text-align: left;
    padding-top: 20px;
}

.small_boxThree .title {
    margin: 0;
    text-align: left;
}

.pricelist {
    width: 100%;
    height: 750px;
    background-color: #f1f1f1;
}

.title_box {
    height: 130px;
    display: flex;
    align-items: center;
}

.title_box .title {
    width: 30%;
    margin: 0;
    padding-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 8px solid #63CCB8;
}

.price_box {
    width: 100%;
    height: 500px;
    margin: 25px 0 100px 0;
    display: flex;
    justify-content: space-between;

}

.price_boxOne, .price_boxTwo, .price_boxThree {
    width: 31%;
    border: 1px solid lawngreen;
    text-align: center;
    position: relative;
}

.price_boxOne {
   background-color: #F7F7F7;
    border: 2px solid #D1D0D8;

}

.price_boxTwo {
    background-color: #63CCB8;
    border: 2px solid #63CCB8;
}

.price_box .price_boxTwo h2 {
    color: #fff;
}

.price_boxTwo .price_circle {
    border: 2px solid #63CCB8;
    color: #63CCB8;
}

.price_box .price_boxTwo li:nth-child(odd) {
    background-color: #fff;
}

.price_boxTwo .price_button {
    background-color: #fff;
    color: #63CCB8;
}

.price_boxThree {
    background-color: #F7F7F7;
    border: 2px solid #D1D0D8;
}

.price_circle {
    width: 130px;
    height: 130px;
    background-color: #fff;
    color: #A3A3A3;
    border: 2px solid #D1D0D8;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.price_circle p {
    font-size: 40px;
    font-weight: 900;
}

.price_circle sup {
    font-size: 15px;
}

.price_circle p + p {
    font-size: 15px;
    text-transform: uppercase;
}

.price_box ul {
    list-style: none;
    padding: 30px 0;
}

.price_box li {
    width: 100%;
    font-size: 25px;
    line-height: 45px;
    color: #A3A3A3;
    text-align: center;
}

.price_box li:nth-child(odd) {
    background-color: #E4E4E4;
}

.price_box li:nth-child(even) {
    background-color: #F1F1F1;
}

.pricelist h2 {
    padding: 30px;
    color: #63CCB8;
    font-size: 21px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.price_button {
    width: 38%;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 32px;
    border-radius: 10px;
    background-color: #63CCB8;
    color: #fff;
    position: absolute;
    bottom: 18px;
    left: calc(50% - 19%);
}

.up_circle_border {
    width: 56px;
    height: 56px;
    background-color: #fff;
    border: 2px solid #D1D0D8;
    border-radius: 50%;
    position: absolute;
    top: -36px;
    left: calc(50% - 28px);
}

.up_circle_middle {
    width: 26px;
    height: 26px;
    background-color: #A3A3A3;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 13px);
}

.price_boxTwo .up_circle_border {
    background-color: #63CCB8;
    border: none;
}

.price_boxTwo .up_circle_middle {
    background-color: #fff;
}