
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular.woff2') format('woff2'),
    url('../fonts/raleway-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: ralewayregular, Arial, sans-serif;
}

.main-width {
    width: 1060px;
    margin: 0 auto;
}

header {
    width: 100%;
    background-color: #000;
}

.header_box {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 50%;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase;
}

.logo span {
    color: #63CCB8;
    font-weight: 700;
}

nav {
    width: 50%;
}

.menu-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu-item {
    width: 20%;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: end;
    /*margin-left: 40px;*/
    position: relative;
}
/*sprawdzić padding menu-item*/

.menu-underlist {
    list-style: none;
    background-color: #000;
    text-align: start;
    padding: 15px;
    display: block;
    position: absolute;
    top: 40px;
    left: 25%;
    text-transform: none;
}
/*sprawdzić padding menu-underlist*/


.menu-underlist:before {
    content: "\25b2";
    color: #000;
    font-size: 26px;
    display: block;
    position: absolute;
    top: -20px;
    left: calc(50% - 13px);
}

.banner {
    background-image: linear-gradient(180deg, #fff, #D1D0D8);
    width: 100%;
}

.box-banner {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    width: 40%;
    height: 100%;
    background-image: url("../images/black_chair.png");
    background-size: 145%;
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: block;

}

.description {
    width: 50%;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

h1 span {
    color: #63CCB8;
    font-weight: 900;
}

.description p {
    font-size: 15px;
    font-weight: 100;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 30px;
    line-height: 20px;
}

.button {
    width:264px;
    height: 52px;
    background-color: #63CCB8;
    border-radius: 10px;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
}

.button p {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.box-banner:before {
    content: "\003C";
    width: auto;
    height: auto;
    font-size: 75px;
    color: #63CCB8;
    display: block;
    position: absolute;
    top: 200px;
    left: 0;
}

.box-banner:after {
    content: "\003E";
    width: auto;
    height: auto;
    font-size: 75px;
    color: #63CCB8;
    display: block;
    position: absolute;
    top: 200px;
    right: 0;
}